<button
  (click)="changeBackgroundTrigger()"
  class="change-image-btn"
  mat-stroked-button
  aria-label="Change image">
  <mat-spinner
    [class.disable-spinner]="isLoading"
    diameter="25"
  ></mat-spinner>
  <mat-icon
    [class.disable-spinner]="!isLoading"
  >image</mat-icon>
</button>
<form #locationForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input
      autocomplete="off"
      matInput
      placeholder="Enter city or coord"
      [(ngModel)]="location"
      name="city">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</form>
